@media (max-width: 1470px) {
    .title {
        font-size: 4.2vw;
        line-height: 1.2;
    }
    .get-it-button {
        font-size: 4.2vw;
    }
}

@media (max-width: 1260px) {
    .footer {
        margin-bottom: 20px;
    }
    .get-it-button {
        max-width: 340px;
    }
    .main-content {
        gap: 20px;
    }
}

@media (max-width: 425px) {
    .wrapper {
        background-image: url("../assets/images/bg-mobile.jpg") !important;
        background-position: bottom;
    }
    .football-players {
        display: none;
    }
    .inner-header {
        flex-direction: column-reverse;
        align-items: center;
    }
    .languages {
        align-self: flex-end;
    }
    .header-logo {
        max-width: 225px;
    }
    .inner-header,
    .inner-main,
    .inner-footer {
        margin: 0 15px;
    }
    .main {
        margin-top: auto !important;
        height: 100%;
        align-items: flex-end;
    }
    .footer {
        height: 130px;
        margin-top:10px;
        margin-bottom:0;
        align-items: center;
        justify-content: center;
        background-image: url('../assets/images/mobile-footer.png');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }
    .title {
        font-size: 35px;
        text-align: center;
    }

    .get-it-button {
        font-size: 40px;
        width: 100%;
        height: 75px;
    }

    .main-content {
        align-items: center;
        justify-content: flex-end;
    }
    .inner-footer {
        flex-direction: column-reverse;
        gap: 8px;
    }
    .copyright,
    .terms,
    .age {
        font-size: 12px;
        color: #B9B9B9;
        line-height: 14px;
    }
}
